@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <ul>
        @foreach (var Customer in Model)
        {
            <li>
                @Html.ActionLink(
                    Customer.Name,
                    "Details",
                    "Customers",
                    new { id = Customer.Id },
                    null)
            </li>
        }
    </ul>
}

